/* General Styles for Cart Page */
.cart-page {
    padding: 20px;
    margin-top: 80px; /* Add margin to prevent overlap with navbar */
}

.cart-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item img {
    max-width: 50px; /* Set a fixed width for cart images */
    height: auto;
    border-radius: 4px;
}

.total-cost {
    font-size: 1.5rem;
    margin-top: 20px;
}

.remove-from-cart {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-from-cart:hover {
    background-color: #d32f2f; /* Darker red */
}
